<h3><%= @attacker.name %> attacked <%= @defender.name %></h3>

<p><%= @defender.name %> health: <%= @defender.health %></p>

<form action="/end_turn" type="get">
  <input type="submit" value="End <%= @attacker.name %>'s turn" />
</form>
