<h2><%= @warrior1.name %> vs. <%= @warrior2.name %> </h2>

<h3><%= @active_player.name %>'s turn</h3>

<ul>
<li><%= @warrior1.name %> health: <%= @warrior1.health %></li>
<li><%= @warrior2.name %> health: <%= @warrior2.health %></li>
</ul>

<!-- attack inactive player -->

<form action="/attack" method="get">
  <input type="submit" value="Attack <%= @inactive_player.name %>" />
</form>
