<h2><%= @warrior1.name %> vs. <%= @warrior2.name %> </h2>

<ul>
<li><%= @warrior1.name %> health: <%= @warrior1.health %></li>
<li><%= @warrior2.name %> health: <%= @warrior2.health %></li>
</ul>


<a href="/attack2">Attack <%= @warrior2.name %></a>
<a href="/attack1">Attack <%= @warrior1.name %></a>
