<h2><%= @warrior1.name %> vs. <%= @warrior2.name %> </h2>

<ul>
<li><%= @warrior1.name %> health: <%= @warrior1.health %></li>
<li><%= @warrior2.name %> health: <%= @warrior2.health %></li>
</ul>

<form action="/attack2" method="get">
  <input type="submit" value="Attack <%= @warrior2.name %>" />
</form>
<form action="/attack1" method="get">
  <input type="submit" value="Attack <%= @warrior1.name %>" />
</form>
