<h2><%= @warrior1 %> vs. <%= @warrior2 %> </h2>
<% if @confirmation1 %>
<h3><%= @confirmation1 %></h3>
<% end %>

<ul>
<li><%= @warrior1 %> health: <%= @warrior1_health %></li>
<li><%= @warrior2 %> health: <%= @warrior2_health %></li>
</ul>


<a href="/attack2">Attack <%= @warrior2 %></a>
<a href="/attack1">Attack <%= @warrior1 %></a>
