<h2>Welcome <%= @warrior1 %> and <%= @warrior2 %> </h2>
<% if @confirmation1 %>
<h3><%= @confirmation1 %></h3>
<% end %>

<ul>
<li><%= @warrior1 %> Hit Points: <%= @warrior1_point %></li>
<li><%= @warrior2 %> Hit Points: <%= @warrior2_point %></li>
</ul>


<a href="/attack2">Attack <%= @warrior2 %></a>
